$border-radius: 20px;
$btn-color: #e64141;

.light{
    --bg-color: #fff6f6;
    --negro: #000;
    --blanco: #fff;
    --gift-bg-color: #fff6f6;
}

.dark{
    --bg-color: #281a1b;
    --negro: #fff;
    --blanco: #000;
    --gift-bg-color: #312425;
}