@use '../variables/mixins' as *;
@use '../variables/variables' as *;

.section4{
    margin-bottom: 100px;
    .content{
        width: 650px;
        margin: auto;
        @media (max-width: 650px) {
            width: 100%;
        }

        .subtitle{

            h2{
                text-align: center;
                color: var(--negro);
            }
        }

        .gitfs{
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(140px, 1fr) );
            gap: 20px;
            padding: 20px;

            .gift{
                overflow: hidden;
                padding: 15px;
                border-radius: 15px;
                transition: .3s;
                background-color: var(--gift-bg-color);
                box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);

                .img-container{
                    overflow: hidden;

                    img{
                        @include width-height(100%, 100%);
                        object-fit: contain;
                    }
                }

                .info{
                    h4, p{
                        color: var(--negro);
                    }
                    h4{
                        font-size: 18px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}